
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 body {
  font-family: 'Times New Roman', Times, serif;
  background: linear-gradient(to right, rgb(204, 203, 248), rgb(4, 10, 39));
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title-container {
  width: 100vw;
  height: 80vh;
  position: relative;
  background-color: rgb(2, 20, 53);
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .35);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid orange;
}

.devotion-description {
  color: white;
  text-align: center;
  font-size: 2vw;
  letter-spacing: 5px;
  
}

.devotion-description-line1, .devotion-description-line2 {
  color: rgb(247, 185, 51);
  text-align: center;
  font-size: 2vw;
  letter-spacing: 5px;
  
}


.title-bold {
  color: white;
  text-align: center;
  font-size: 5vw;
  letter-spacing: 5px;
  margin-top: 100px;
  
}

.title-pursuit {
  color: rgb(247, 185, 51);
  text-align: center;
  font-size: 5vw;
  letter-spacing: 5px;
  
}

.title-image {
  max-width: 100%;
  max-height: 100%;
}

.author {
  color: white;
  text-align: center;
  font-size: 2vw;
  letter-spacing: 5px;
}

.begin-btn {
  background-color: rgb(2, 20, 53);
  border: 1px solid rgb(247, 185, 51);
  color: rgb(247, 185, 51);
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 50px;
  cursor: pointer;
  width: 20vw;
  height: 5vh;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.begin-btn:hover {
  color: rgb(2, 20, 53);
  background-color: orange;
  transition: 0.8s;
}

section {
  position: relative;
  max-width:66vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: top;
  padding: 50px;
}

section::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 60%;
  height: 60%;
  background: linear-gradient(to right, rgb(204, 203, 248), rgb(247, 185, 51));
  border-radius: 50%;
  transform: translateX(-50%) scale(2.5);
  transform-origin: bottom;
}

section .content {
  position: relative;
  text-align: center;
}

section .content h2 {
  font-size: 4vw;
}

section .content p {
  font-size: 1.5vw;
  margin-bottom: 100px;
}

.days {
  background-color: rgb(2, 20, 53);
  border: 1px solid rgb(247, 185, 51);
  color: rgb(247, 185, 51);
  font-size: 1.5vw;
  font-family: 'Times New Roman', Times, serif;
  margin: 0 auto;
  cursor: pointer;
  width: 4vw;
  height: 5.3vh;
  border-radius: 25px;
  margin-top: auto;
}

.days:hover {
  color: rgb(2, 20, 53);
  background-color: orange;
  transition: 0.8s;
  border: 1px solid black;
}

.devotional {
  position: relative;
  z-index: 1;
  max-width: 70%;
  min-width: 50%;
  text-align: center;
}

.devo-days {
  margin-top: 0px;
  margin-bottom: 50px;
}

.devo-title, .devo-verse {
  text-align: left;
  
}
.devo-title{
  margin-bottom: 30px;
}
.devo-verse {
  margin-bottom:50px;
}

.devo-content, .deep-dive-questions {
  margin-top: 10px;
  text-align: left;
  text-indent: 5%;
}

.devo-deep-dive {
  text-align: center;
  margin-top:50px;
}

.notes-container button {
  display:flex;
  text-align: center;
  background: rgb(250, 137, 32);
  color: rgb(2, 20, 53);
  font-size: 16px;
  outline: 0;
  border: 0;
  border-radius: 40px;
  padding: 15px 25px;
  margin: 20px auto;
  cursor: pointer;
}

.input-box {
  position: relative;
  text-align: left;
  width: 100%;
  max-width: 500px;
  min-height: 150px;
  background: white;
  color: black;
  padding: 20px;
  margin: 50px auto;
  outline: none;
  border-radius: 5px;
  display: none;
}
